<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>yellow_studio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Do+Hyeon'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  
<nav class="navbar navbar-expand-lg fixed-top"><a class="navbar-brand" href="#header_index">Yellow Studio</a>
  <ul class="nav ml-auto">
    <li class="nav-item"><a class="nav-link" href="#section_about">About</a></li>
    <li class="nav-item"><a class="nav-link" href="#section_works">Works</a></li>
    <li class="nav-item"><a class="nav-link" href="#section_contact">Contact</a></li>
  </ul>
</nav>
<header id="header_index">
  <div class="container"><img class="icon" src="https://awiclass.monoame.com/img/webpic/w_icon.svg" alt=""/><img class="marginbottom mountain" src="https://awiclass.monoame.com/img/margin/m_index.svg" alt=""/>
    <div class="explore at_top">EXPLORE</div>
  </div>
</header>
<section id="section_about">
  <div id="cross"></div><img class="marginbottom" src="https://awiclass.monoame.com/img/margin/m_about.svg" alt=""/><img id="cat" src="http://awiclass.monoame.com/catpic/cat_leftop.png"/>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-4"><img class="tri tri1" src="https://awiclass.monoame.com/img/webpic/w_tri1.svg" alt=""/>
        <h2 class="r1text">WORKS IN YELLOW</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"><img class="tri tri2" src="https://awiclass.monoame.com/img/webpic/w_tri2.svg" alt=""/></div>
      <div class="col-sm-8"><img class="tri tri3" src="https://awiclass.monoame.com/img/webpic/w_tri3.svg" alt=""/>
        <h3 class="r2text">YELLOW STUDIO-Website Design / Development</h3>
        <h3 class="r2text">Interactive Art Design      </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h2 class="r3text">430 MORE SUCCESS CASES</h2>
      </div>
    </div>
    <div class="clearfix">
      <!--修浮動性的錯誤 -->
    </div>
    <div class="row">
      <div class="col-sm-4 btn-area"><a class="btn btn-lg btn-default" href="#sectio">MORE STORY</a><img class="tri tri4" src="https://awiclass.monoame.com/img/webpic/w_tri4.svg" alt=""/></div>
      <div class="col-sm-4"><img class="tri tri5" src="https://awiclass.monoame.com/img/webpic/w_tri5.svg" alt=""/></div>
    </div>
  </div>
</section>
<section id="section_service">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Service</h1>
      </div>
      <div class="col-sm-4"><img class="icon_service" src="https://awiclass.monoame.com/img/webpic/w_service_icon1.svg" alt=""/>
        <h3>CI/VI Design</h3>
      </div>
      <div class="col-sm-4"><img class="icon_service" src="https://awiclass.monoame.com/img/webpic/w_service_icon2.svg" alt=""/>
        <h3>MotionGraphic</h3>
      </div>
      <div class="col-sm-4"><img class="icon_service" src="https://awiclass.monoame.com/img/webpic/w_service_icon3.svg" alt=""/>
        <h3>Web Development</h3>
      </div>
    </div>
  </div>
</section>
<section id="section_works"><img class="marginbottom mountain" src="https://awiclass.monoame.com/img/margin/m_works.svg"/>
  <div class="container" id="app">
    <div class="row" v.if="works.length&gt;0">
      <div class="col-sm-12">
        <h1>Works</h1>
      </div>
      <div class="col-sm-6 work big"><img :src="works[1].img" alt=""/>
        <!--綁定Vue v-bind: 等於 只加: -->
        <div class="texts">
          <h4 class="tilte">{{works[1].name}}</h4>
          <p class="content" v-html="works[1].content.substr(0,40)"></p>
          <!--substr(0,40) 從0開始抓40個字 {{works[1].content.substr(0,40)}} 會顯示標籤-->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-6 work" v-for="w in works.slice(2,4)">
            <!--slice(2,6) 抓3,4,5,6個--><img :src="w.img" alt=""/>
            <div class="texts">
              <h4 class="tilte">{{w.name}}</h4>
            </div>
          </div>
          <div class="col-sm-6 work" v-for="w in works.slice(4,6)">
            <!--slice(2,6) 抓3,4,5,6個--><img :src="w.img" alt=""/>
            <div class="texts">
              <h4 class="tilte">{{w.name}}      </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section_contact">
  <!--三站貓--><img class="cat" id="cat_blue" src="http://awiclass.monoame.com/catpic/cat_blue_cat.png"/><img class="cat" id="cat_grey" src="http://awiclass.monoame.com/catpic/cat_yellow_cat.png"/><img class="cat" id="cat_yellow" src="http://awiclass.monoame.com/catpic/cat_grey_cat.png"/>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="mails">
          <div class="mailcover"><img src="https://awiclass.monoame.com/img/webpic/w_mail_cover.svg" alt=""/></div>
          <div class="mailbody">
            <h5>Dear Yellow Studio</h5>
            <label>Name</label>
            <input type="text"/>
            <label>Email</label>
            <input type="text"/>
            <label>Content</label>
            <textarea></textarea>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>CONTACT</h2><br/>
        <p>If you have any question about us,<br>Don`t hestitate to contact us !</p><br/><br/>
        <p>YELLOWSTUDIO@gmail.com<br>ADDRESS: TAIWAN, TAIPEI , XORO Road<br>Phone: 02-12345678</p>
      </div>
    </div>
  </div>
</section>
<footer id="footer"><img class="icon" src="https://awiclass.monoame.com/img/webpic/w_icon_black.svg"/></footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
